{% extends "base.html" %}
{% block title %}Barr.io :: Home{% endblock %}

{% block body %}
<div class="jumbotron bg-light text-dark">
    <img src="{{url_for('static', filename='img/logo.png')}}" width="20%" height="20%" />
    <div class="clearfix", style="margin-top: 25px"></div>
    <h2>Sharpen Your Dev Skills.</h2>
    <p class="lead">Barr.io is a platform to help developers gain experience by working on real company projects.</p>
</div>

<div class="card-group">
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/al.jpeg')}}"> -->
    <div class="card-body">
      <h5 class="card-title">Ardent Labs</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="pages/Ardent_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Logo_2013_Google.png" width="10%"> -->
    <div class="card-body">
      <h5 class="card-title">Google</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="pages/Google_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/fb.png')}}"> -->
    <div class="card-body">
      <h5 class="card-title">Facebook</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="pages/Facebook_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
</div>

<br>
<br>
<br>

<div class="card-group">
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/al.jpeg')}}"> -->
    <div class="card-body">
      <h5 class="card-title">Amazon</h5>
      <p class="card-text">Amazon.com, Inc., doing business as Amazon, is a multinational technology company focusing in e-commerce, cloud computing, and artificial intelligence in Seattle, Washington.</p>
      <a href="pages/Ardent_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/g.png')}}"> -->
    <div class="card-body">
      <h5 class="card-title">Northrop Grumman</h5>
      <p class="card-text">Northrop Grumman Corporation is an American global aerospace and defense technology company formed by Northrop's 1994 purchase of Grumman. </p>
      <a href="pages/Google_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/fb.png')}}"> -->
    <div class="card-body">
      <h5 class="card-title">Yelp</h5>
      <p class="card-text">Yelp is a local-search service powered by crowd-sourced review forum run by an American multinational corporation headquartered in San Francisco, California.</p>
      <a href="pages/Facebook_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
</div>
<div class="card-group">
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/al.jpeg')}}"> -->
    <div class="card-body">
      <h5 class="card-title">AirBnB</h5>
      <p class="card-text">A‌i‌r‌b‌n‌b‌, ‌ ‌I‌n‌c‌.‌ is a privately held global company headquartered in San Francisco that operates an online marketplace and hospitality service which is accessible via its websites and mobile apps.</p>
      <a href="pages/Ardent_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/g.png')}}"> -->
    <div class="card-body">
      <h5 class="card-title">Yahoo</h5>
      <p class="card-text">Yahoo! is a web services provider headquartered in Sunnyvale, California and owned by Verizon Media. </p>
      <a href="pages/Google_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
  </div>
  <div class="card">
    <!-- <img class="card-img-top" src="{{url_for('static', filename='img/fb.png')}}"> -->
    <div class="card-body">
      <h5 class="card-title">LinkedIn</h5>
      <p class="card-text">LinkedIn is a business and employment-oriented service that operates via websites and mobile apps. </p>
      <a href="pages/Facebook_Projects"><button type="button" class="btn btn-outline-primary">Explore</button></a>
    </div>
</div>
{% endblock %}